extends layout/default

block scripts

append content
  .ui.button.small Small

  p

  a.ui.button.small Small

  p

  button.ui.button.small Small

  p

  .ui.button.small.compact Compact

  p

  a.ui.button.small.compact Compact

  p

  button.ui.button.small.compact Compact
